@font-face {
    font-family: 'myfont';
    src: url('./Jellee-Bold.ttf');
}

*{
    box-sizing: border-box;
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    background: url('./icon.jpg') center center no-repeat;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    
}
.main{
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    gap:1rem;
    width: 30rem;
    padding-right: 0;

}

.main2 {
    width: max(20rem, 50%);
    overflow: hidden;
    height: 20rem;
    height: max(20rem, 90%);
    width: max(20rem, 90%);
    border-radius: 100%;
    z-index: 0;
    border: rgb(116, 88, 17) 5px dashed;
    position: fixed;
    margin-right: -70rem;
}

.name {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.72);
    text-align: center;
    padding: 1rem;
    width: max(20rem, 50%);
    border-radius: 1rem;
    font-family: 'myfont';
    font-style: normal;
    box-shadow: 1rem 2rem 10px rgba(0, 0, 0, 0.508)
}

.content {
    width:max(20rem, 50%);
    height: 30rem;
    padding:1rem;
    overflow: auto;
    border-radius: 1rem;
    color: rgb(52, 51, 49);
    box-shadow: 1rem 2rem 10px rgba(0, 0, 0, 0.534)
}

.fixed {
    position:fixed;
    top:40px;
    left:40px;
    width: 10rem;
    display: none;
    z-index: 2;
}

.fixed2 {
    position:fixed;
    top:60px;
    left:40px;
    width: 10rem;    
    display: none;
    z-index: 2;
}

.fixed3 {
    position:fixed;
    top:80px;
    left:40px;
    width: 10rem;
    display: none;
    z-index: 2;
}

.nav {
    background-color:rgb(192, 192, 192);
    width: 2rem;
    height: 2rem;
    top:10px;
    position:fixed;
    left:10px;
    border-radius: 5px;
    z-index: 1;
    display: flex;
    flex-direction:column;
    gap: 9px;
    overflow: hidden;
    border:rgb(79, 79, 79) 1px solid;
}

.toggle {
    display:block;
}

.line {
    width:2rem;
    height:5px;
    background-color: rgb(79, 79, 79);

}

.color {
    background-color: rgb(247, 176, 44);
}

.color:active {
    background-color: rgb(150, 107, 28);
}

.content {
    display: flex;
    flex-direction: column;
    background-image: url("./food1.jpg");
    background: linear-gradient(rgba(192, 192, 192, 0.755), rgba(255, 255, 255, 0.7), rgba(192, 192, 192, 0.755)) ;
}

.reserv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15rem;
    gap:1rem;
}

input {
    padding: .4rem;
    text-align: center;
    height: 2rem;
    border-radius: 10px;

}

input:focus {
    outline: rgb(248, 161, 0) 3px solid;
}


.circle {
    border-radius: 100%;
    width: max(100%);
    height: max(100%);
    position:fixed;
    background-color: rgba(156, 118, 23, 0.692);
    margin-right:-65rem;
    z-index: -1;
}

.circle2 {
    border-radius: 100rem;
    width: 30rem;
    height: 30rem;
    position:fixed;
    background-color: rgba(156, 118, 23, 0.692);
    z-index: -1;
    bottom:-5rem;
    left:-5rem;
    outline:3px rgb(156, 118, 23) dashed;
}

.image {
    height: min(60rem,100%);
    width:min(60rem,100%);
}